h1{

  margin-bottom: 20px;
  margin-top: -30px;
  font-size: 60px;
  color: black;
  text-align: center;

}
body {

	background-image: url("../img/Grey-Gradient-Background-Tumblr-08.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron{

	background-color: transparent;
}
p{

	font-size: 100%;
	text-align: center;
}

     
    input[type=text]{
        padding:0.5em;
        width:20em;
    }
     
    input[type=submit]{
        padding:0.4em;
    }
     
    #gmap_canvas{
        width:50%;
        height:30em;
        margin-left: 400px;
    }
     
    #map-label,
    #address-examples{
        margin:1em 0;
    }