h1{

  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 60px;
  color: black;
  text-align: center;

}
body {

	background-image: url("../img/Grey-Gradient-Background-Tumblr-08.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron{

	background-color: transparent;
}
p{

	font-size: 100%;
	text-align: center;
}