h4{

  margin-left: 40px;

}

h3{

  margin-left: 50px;
  font-size: 20px;
  color: black;
}

h2{

  margin-bottom: 30px;
  text-align: center;
  font-size: 60px;
  color: black;
  margin-top: 50px;


}
body {

	background-image: url("../img/Grey-Gradient-Background-Tumblr-08.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
