.col-md-3{

border: 1px solid black;
margin:10px;
float: left;
margin-bottom: 10px;

}

h3{

	color:black;
}

body {

	background-image: url("../img/Grey-Gradient-Background-Tumblr-08.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}