h1{

  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 60px;
  color: black;

}
body {

	background-image: url("../img/Grey-Gradient-Background-Tumblr-08.jpg");
	background-repeat: no-repeat;
	background-size: cover;
