body{

	background-color:  #8B4513;

}

h2
{

	font-size: 360%;
	color: #000000;
	padding-bottom: 15px;

}
h3
{

	font-size: 180%;
	color: black;

}

input
{
	font-size: 120%;

}

.container
{

	padding-left: 30px;


}
body {

	background-image: url("../img/Grey-Gradient-Background-Tumblr-08.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
