body{

	background-color:  #8B4513;

}

h2
{

	font-size: 360%;
	color: #000000;
	padding-bottom: 15px;

}
h6
{

	font-size: 180%;
	color: black;

}

input
{
	font-size: 120%;

}

.container
{

	padding-left: 30px;


}