h1{

	margin-bottom: 50px;
	margin-top: 20px;
	font-size: 60px;
	color: black;
	text-align: center;

}

h6{

	font-size: 20px;


}

.container{

	margin-left: 97px;

}

body {

	background-image: url("../img/Grey-Gradient-Background-Tumblr-08.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
